body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 20%;
    padding-right: 20%; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  /* .container {

    background-color: white;
  } */
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    color:inherit;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    color:inherit;
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #f04320;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    background-color: inherit;
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    color: inherit;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
  }
  /* .cat-logo{
    height: 3%;
    width: 3%;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 10px;
} */
/* .team-intro{
    font-size: small;
    padding-left: 1%;
} */